[Unit]
Description=AppFlowy
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__NODEJS_DIR__/node run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
